version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: no_houchi_dev
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - '3000:3000'
    volumes:
      - ./:/app
    command: npm run dev

volumes:
  db-data:
